import(plyr)
import(BiocGenerics)
import(GenomicRanges)
import(ggbio)

importFrom(IRanges, IRanges)

export(
    methodsMerge, plotChromosome, plotRegion,
    readBreakDancer, readCnvnator, readDelly,
    readPindel, readSvseq, svAnnotation, geneAnnotation,
    readLumpy, readSoftSearch
)


